doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/shop-homepage.css')
    script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
    script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')

  body

    block content

      // jQuery
     script(src='/js/jquery.js')
      // Bootstrap Core JavaScript
     script(src='/js/bootstrap.min.js')





